<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gimmage" type="Q42.Wheels.Gimmage.Config.GimmageConfigurationSection, Q42.Wheels.Gimmage" />
  </configSections>
  
  <gimmage>
    <sources>
      <!-- type defaults to file but then requires dir to be filled-->
      <add name="N2" dir="C:\Projects\NegenTwee\Gimmage" />
      <add name="N2" dir="" connectionStringName="n2cms" type="db" />
    </sources>
    <cache enabled="true" dir="C:\Projects\NegenTwee\GimmageCache" />
    <backup enabled="false" dir="C:\Projects\NegenTwee\GimmageBackup" />
  </gimmage>
</configuration>